html {
    cursor: url(../imagens/mata_mosca.png) 30 30, auto;
}

body {
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
}

.mosca1 {
    width: 50px;
    height: 50px;
}

.mosca2 {
    width: 70px;
    height: 70px;
}

.mosca3 {
    width: 90px;
    height: 90px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    padding: 10px;
    width: 190px;
    bottom: 0px;
    left: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vida {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}